<html>
    <head>
        <title>joilter</title>
        <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
    </head>
    <body>
        <h1>Joilter</h1>
        {% if user %}
        <h2>Bem vindo ao Joilter: {{ user }}!</h2>
        {% else %}    
        <h2>Bem vindo ao Joilter!</h2>
        {% endif %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
    </body>
</html>